body {
    background-color: #000000;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
}

fieldset {
    border-image: round;
    mask-border: inherit;
    border-style: none;
    width: auto;
    height: fit-content;
    font-display: inherit;
    color: #000000;
    text-align: justify;
    font-stretch: expanded;
    padding: 0;
    margin: 20px;
    background-color: indigo;
}

footer {
    text-align: right;
}

b, section, script, p, q {
    font-weight: bolder;
    font-size: medium;
    color: aliceblue;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

q {
    padding-right: 50px;
}